<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-92I9IgUIvogzGpBMczbcRTAUll7xZZc</string>
	<key>GCM_SENDER_ID</key>
	<string>714080735288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Self.PriorityHub</string>
	<key>PROJECT_ID</key>
	<string>priorityhub-ac01f</string>
	<key>STORAGE_BUCKET</key>
	<string>priorityhub-ac01f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714080735288:ios:bb9124ada9e45db6dd56cd</string>
</dict>
</plist>